html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
    background-color: rgb(46, 45, 45);
    color: white;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    
}

.content{
    display: flex;
    height: 100%;
}

.left{
    width: 20%;
    height: 100%;
    padding-left: 50px;
    padding-right: 40px;
    padding-top: 70px;
    
}

.leftHeader{
    font-weight: bold;
    font-size: 32px;
}

.projectList{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    gap: 4px;
}

.project{
    font-size: 24px;
    cursor: pointer;
    padding: 8px;
    color: rgba(255, 255, 255, 0.692);
}

.project:hover{
    background-color: rgb(114, 113, 113);
}

.project.active{
    background-color: rgb(114, 113, 113);
    color: white;
}

.addProject{
    font-size: 24px;
    background-color: rgb(75, 74, 74);
    color: rgb(9, 189, 9);
    cursor: pointer;
    border-radius: 8px;
    padding: 8px;
    height: auto;
    width: 250px;
    margin-top: 16px;
}

.addProject:hover{
    background-color: rgb(114, 113, 113);
}

#projectForm{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 21, 21);
    padding: 16px;
    border-radius: 4px;
    gap: 16px;
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20%;
    text-align: center;
    font-size: 32px;
}

#projectForm > div{
    display: flex;
    justify-content: center;
    gap: 16px;
}

#projectForm > input{
    font-size: 32px;
    border-radius: 4px;
}

#projectForm > div > button{
    font-size: 32px;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    background-color: green;
}

#projectForm > div > .pCloseForm{
    background-color: rgba(255, 0, 0, 0.692);
}

.deleteProject{
    font-size: 24px;
    background-color: rgb(75, 74, 74);
    color: red;
    cursor: pointer;
    border-radius: 8px;
    height: auto;
    width: 250px;
    margin-top: 30px;
    padding: 8px;
}

.deleteProject:hover{
    background-color: rgb(114, 113, 113);
}


.right{
    width: 80%;
    height: 100%;
    background-color: rgb(63, 63, 63);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    
}

.rightHeader{
    font-size: 32px;
    
}

.rightProjectDescription{
    color: rgba(255, 255, 255, 0.692);
}

.addToDo{
    font-size: 24px;
    background-color: rgb(75, 74, 74);
    color: rgb(9, 189, 9);
    cursor: pointer;
    border-radius: 8px;
    padding: 8px;
    height: auto;
    width: 250px;
    margin-top: 16px;

}

.addToDo:hover{
    background-color: rgb(114, 113, 113);
}

#toDoForm{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 21, 21);
    padding: 16px;
    border-radius: 4px;
    gap: 16px;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 32px;
    top: 20%;
}

#toDoForm > input{
    font-size: 32px;
    border-radius: 4px;
}

#toDoForm > div{
    display: flex;
    justify-content: center;
    gap: 16px;
}

#toDoForm > div > button{
    font-size: 32px;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    background-color: green;
}

#toDoForm > div > .tCloseForm{
    background-color: rgba(255, 0, 0, 0.692);
}

#toDoForm > div > label{
    font-size: 24px;
}

#toDoForm > div > input{
    transform: scale(2);
}

#toDoForm > div > label:first-child{
    color: rgb(13, 204, 13);
}

#toDoForm > div > label:nth-child(3){
    color: yellow;
}

#toDoForm > div > label:nth-child(5){
    color: red;
}

.toDoList{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.toDo{
    display: flex;
    border: 2px solid gray;
    border-radius: 4px;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.leftToDo{
    display: flex;
    gap: 12px;
}

.rightToDo{
    display: flex;
    gap: 16px;
}

.checkbox{
    height: 24px;
    width: 24px;
    border: 1px solid gray;
    border-radius: 32px;
    cursor: pointer;
}

.checkbox.checked{
    background-image: url("images/check-mark.svg");
    background-position: 50% 50%;
    background-size: 24px;
    background-repeat: no-repeat;
}

.toDoPriority{
    height: 24px;
    width: 24px;
    border: 1px solid gray;
    border-radius: 4px;
}

.low{
    background-color: green;
}

.med{
    background-color: yellow;
}

.high{
    background-color: red;
}

.toDoExpand{
    background-color: rgb(63, 63, 63);
    color: white;
}

.toDoDelete{
    background-color: rgb(63, 63, 63);
    color: white;
}

.toDoExpand:hover{
    background-color: rgb(114, 113, 113);
}

.toDoDelete:hover{
    background-color: rgb(114, 113, 113);
}